body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
/* style={{backgroundColor: '#71727382'}} */

.bg { 
  position: fixed;
  z-index: -1;

  /* The image used */
  background-image: url('../images/bottles-copy.jpg');

  /* Full height */
  height: 100%;
  width:100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #9a88ab;
}

.logo {
  height: 50px;
}

.jumbotron {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  align-items: center;
  background: url('../images/lander.jpg');
  background-position: center;
  background-size: cover;
}

.fit {
  width: fit-content;
  padding: 1.5rem;
}

#black-border {
  border: 1px solid black!important;
}

h1 {
  font-family: 'Handlee', cursive;
}

p {
  margin-top: 1rem;
}

.landing {
  border: 5px solid black;
  text-align: center;
  display: inline;
}

.spacing {
  padding-top:75px;
}

.central {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #ffffff69;
}

.h3-style {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

td {
  color: #9a1eca;
}

#contact {
  background: #c5c5c5;
}

#about, #contact {
  padding: 3rem;
}

#map {
  height: 20rem;
  width: 100%;
}

#hours > tbody > tr > th, #hours > tbody > tr > td {
  border: none;
}

@media screen and (min-width: 375px) {
  .sideways {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .sideways {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}