body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
/* style={{backgroundColor: '#71727382'}} */

.bg { 
  position: fixed;
  z-index: -1;

  /* The image used */
  background-image: url("/images/bottles-copy.jpg");

  /* Full height */
  height: 100%;
  width:100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing {
  border: 5px solid black;
  text-align: center;
  display: inline;
}

#table {
  /* background-color: #ffffff69; */
}

.center {
  display: flex;
  justify-content: center;
}

td {
  color: #9a1eca;
}

@media screen and (min-width: 992px) {
  .disappear {
    display: none;
    background-color: #ffffff69;
  }
}